@model ShoppingCartViewModel
<h3 class="my-5">
    Shopping cart
</h3>
<button class="btnModal" onclick="openModal()"><i class="bi bi-bag-check-fill"></i></button>

<div id="myModal" class="modal">
    <div class="modal-content1">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Total</h2>
        <p class="modalP">@Model.ShoppingCartTotal.ToString("c")</p>
        <hr>
        <a class="comprarShoppingModal" asp-controller="Order" asp-action="Checkout">Comprar</a>

    </div>
</div>

<div class="ContenedorShopping">
    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
        <div class="detalleProducto">
            <div class="imagenShopping">
                <img src="~/imagenes/@line.Producto.imagen" alt="">
            </div>
            <div class="textoShopping">
                <h3>@line.Producto.productoNombre</h3>
                <p>Cantidad : @line.Amount<br>Precio : @line.Producto.precio</p>
            </div>
        </div>
    }

    
</div>



<script>
    function openModal() {
        var modal = document.getElementById("myModal");
        modal.classList.add("show"); // Agregar la clase "show" para mostrar la ventana modal suavemente
      }

      function closeModal() {
        var modal = document.getElementById("myModal");
        modal.classList.remove("show"); // Quitar la clase "show" para cerrar la ventana modal suavemente
      }

      // Resto del código igual
</script>



