<h2 class="Acerca">Acerca de nosotros</h2>
<div class="historia">
    <img id="personalImagen" src="~/img/personal.jpg" alt="">
    <p class="historiaP">
        Hace cuatro años, nació nuestra micro empresa con un sueño en mente: brindar a nuestros clientes productos únicos y de calidad para mejorar sus hogares. Desde entonces, hemos recorrido un emocionante camino lleno de desafíos y logros que nos han convertido en un referente en el mercado de accesorios para el hogar.
        <span id="historiaP1">En nuestros comienzos, éramos un equipo pequeño y apasionado, con una visión clara de ofrecer a nuestros clientes soluciones prácticas y elegantes para sus necesidades en el hogar. Empezamos con un modesto catálogo de productos cuidadosamente seleccionados que reflejaban nuestra pasión por la funcionalidad y el estilo. Con el tiempo, fuimos adquiriendo una amplia gama de artículos para abarcar diferentes áreas de la casa y satisfacer los gustos y preferencias de nuestros clientes.</span>
    </p>
</div>
<div class="contenedores">

    <div class="conteinerMision">
        <div class="containerM">
            <i class="bi bi-airplane-engines-fill iconMision"></i>
            <span class="tituloMision">Nuestra</span> Mision
        </div>
        <div class="textoMision">
            <p>Ofrecer a nuestros clientes productos y accesorios novedosos, con una excelente atención al precio más competitivo, a través de nuestros canales de venta en tiendas físicas y virtuales.</p>
        </div>
    </div>

    <div class="coteinerVision">
        <div class="containerV">
            <i class="bi bi-eye iconVision"></i>
            <span class="tituloVision">Nuestra</span> Vision
        </div>
        <div class="textoVision">
            <p>Ser la empresa líder en la comercialización de productos electrónicos y productos novedosos, incorporando a nuestro equipo los mejores recursos humanos y tecnológicos.</p>
        </div>
    </div>
</div>