@using SistemasWeb01.ViewModels
@model ProductoListViewModel



<partial name="_Carousel" />

<div class="text-center">
    <h1>Productos</h1>
    <h5>Enjoy a weekly selection of our favorite  producto</h5>

    <div class="contenedorCards">
            @foreach (var producto in Model.productos)
            {
                <partial name="_productoCard" model="producto" />
            }
    </div>
</div>
<div class="marcas">
    hola mundo
</div>

<style>
    .marcas {
        width: 100%;
        height: 1000px;
        /*background-image: url(/wave-haikei.svg);*/
        background-image:url(/agua.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
