@using SistemasWeb01.ViewModels
@model ProductoListViewModel



<partial name="_Carousel" />

<div class="text-center">
    <h1>Productos</h1>
    <h5>Enjoy a weekly selection of our favorite  producto</h5>

    <div class="contenedorCards">
            @foreach (var producto in Model.productos)
            {
                <partial name="_productoCard" model="producto" />
            }
    </div>
</div>

@*<div class="text-center">
    <h1>Pies of the week</h1>
    <h5>Enjoy a weekly selection of our favorite pies</h5>


   

    <div class="row pies-of-the-week ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var pie in Model.PiesOfTheWeek)
            {
                <partial name="_PieCard" model="pie" />

            }
        </div>

    </div>
</div>*@

