@using SistemasWeb01.ViewModels
@model ProductoListViewModel



<partial name="_Carousel" />
<a class="aModal" asp-controller="ShoppingCart" asp-action="Index"><i class="bi bi-cart3"></i><div class="cantidadProductosH"><p class="pContadorH">@ViewBag.cantidadItems</p></div></a>

<div class="text-center">
    <h1>Productos</h1>
   
</div>
<div class="contenedor">
    @foreach (var producto in Model.productos)
    {
        <partial name="_productoCard" model="producto" />
    }
</div>


