
.navegacionNav {
    transition: background-color 0.3s;
    width:100%;
    display:flex;
    flex-direction:row;
}

/*.navegacionNav.rosa {
    background-color: pink !important;
}
.navegacionNav.celeste {
    background-color: deepskyblue !important;
}
.navegacionNav.azul {
    background-color: cornflowerblue !important;
}*/
@media (min-width: 0px) and (max-width: 575px) {
    /* Estilos para el rango de 576px a 767px */
    /* Puedes agregar aquí las reglas de estilo que desees aplicar */
    /* Ejemplo: */
    .contenedorCards{
        display:flex;
        justify-content:center;
    }
    
}

.contenedorCards {
    display: flex;
    justify-content: center;
}